In [1]:
!pip3 install bs4
!pip3 install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /home/dell/anaconda3/lib/python3.7/site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /home/dell/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.3.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=1da6f0ca2a3098f5ad22975c13be294e4a16df5006e88eb4a5c5efb3fc8b173a
  Stored in directory: /home/dell/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in /home/dell/anaconda3/lib/python3.7/site-packages (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/dell/anaconda3/lib/python3.7/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/dell/anaconda3/lib/python3.7/site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /home/dell/anaconda3/lib/python3.7/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/dell/anaconda3/lib/python3.7/site-packages (from requests) (1.26.7)

In [2]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

# Q1. Display all header tags in 'wikipedia.org'

In [3]:
page1 = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
page1

In [5]:
soup1 = BeautifulSoup(page1.content)
#soup1

In [6]:
#First Level HTML header tag
header1 = []
for i in soup1.find_all('h1'):
  header1.append(i.text)

In [7]:
header1

['Main Page', 'Welcome to Wikipedia']

In [8]:
#Second Level HTML header tag
header2 = []
for i in soup1.find_all('h2'):
  header2.append(i.text)

In [9]:
header2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu']

#Q2. Display IMDB's Top rated 100 movies' data

In [10]:
import pandas as pd

In [11]:
page2 = requests.get('https://imdb.com/chart/top/')

In [12]:
page2

In [13]:
soup2 = BeautifulSoup(page2.content)
#soup2

In [14]:
movies = []
year = []
rating = []

In [15]:
#Extracting movie name list
a = 0
for i in soup2.find_all('td', class_="titleColumn"):
  movies.append(i.text.split('\n')[2].strip())
  a = a + 1
  if a >= 100:
    break

In [16]:
movies

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Il buono, il brutto, il cattivo',
 'Forrest Gump',
 'Fight Club',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'The Empire Strikes Back',
 'The Matrix',
 'Goodfellas',
 "One Flew Over the Cuckoo's Nest",
 'Se7en',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'The Silence of the Lambs',
 'Cidade de Deus',
 'Saving Private Ryan',
 'La vita è bella',
 'The Green Mile',
 'Interstellar',
 'Star Wars',
 'Terminator 2: Judgment Day',
 'Back to the Future',
 'Sen to Chihiro no kamikakushi',
 'Psycho',
 'The Pianist',
 'Léon',
 'Gisaengchung',
 'The Lion King',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'The Departed',
 'The Prestige',
 'Casablanca',
 'Whiplash',
 'Top Gun: Maverick',
 'The Intouchables',
 'Modern Times',
 'Seppuku',
 'Hotaru no haka',
 'Once Upon a Time in the West',
 'Rear Window',
 'Alien',
 'City Lights',
 'Nuovo Cinema Paradiso',
 'Memento',
 'Apocalypse Now',
 'Raiders of the Lost Ark',
 'Django Unchained',
 'WALL·E',
 'The Lives of Others',
 'Sunset Blvd.',
 'Paths of Glory',
 'The Shining',
 'The Great Dictator',
 'Witness for the Prosecution',
 'Avengers: Infinity War',
 'Aliens',
 'American Beauty',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Spider-Man: Into the Spider-Verse',
 'The Dark Knight Rises',
 'Oldeuboi',
 'Joker',
 'Braveheart',
 'Amadeus',
 'Toy Story',
 'Coco',
 'Das Boot',
 'Inglourious Basterds',
 'Mononoke-hime',
 'Avengers: Endgame',
 'Once Upon a Time in America',
 'Good Will Hunting',
 'Requiem for a Dream',
 'Toy Story 3',
 'Kimi no na wa.',
 "Singin' in the Rain",
 '3 Idiots',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Eternal Sunshine of the Spotless Mind',
 'Reservoir Dogs',
 'Tengoku to jigoku',
 'Capharnaüm',
 'Citizen Kane',
 'Lawrence of Arabia',
 'Jagten',
 'M - Eine Stadt sucht einen Mörder',
 'North by Northwest',
 'Vertigo',
 "Le fabuleux destin d'Amélie Poulain"]

In [17]:
len(movies)

100

In [18]:
#Extracting movie release year list
b = 0
for j in soup2.find_all('span', class_="secondaryInfo"):
  year.append(j.text[1:5])
  b = b + 1
  if b >= 100:
    break

In [19]:
year

['1994',
 '1972',
 '2008',
 '1974',
 '1957',
 '1993',
 '2003',
 '1994',
 '2001',
 '1966',
 '1994',
 '1999',
 '2010',
 '2002',
 '1980',
 '1999',
 '1990',
 '1975',
 '1995',
 '1954',
 '1946',
 '1991',
 '2002',
 '1998',
 '1997',
 '1999',
 '2014',
 '1977',
 '1991',
 '1985',
 '2001',
 '1960',
 '2002',
 '1994',
 '2019',
 '1994',
 '2000',
 '1998',
 '1995',
 '2006',
 '2006',
 '1942',
 '2014',
 '2022',
 '2011',
 '1936',
 '1962',
 '1988',
 '1968',
 '1954',
 '1979',
 '1931',
 '1988',
 '2000',
 '1979',
 '1981',
 '2012',
 '2008',
 '2006',
 '1950',
 '1957',
 '1980',
 '1940',
 '1957',
 '2018',
 '1986',
 '1999',
 '1964',
 '2018',
 '2012',
 '2003',
 '2019',
 '1995',
 '1984',
 '1995',
 '2017',
 '1981',
 '2009',
 '1997',
 '2019',
 '1984',
 '1997',
 '2000',
 '2010',
 '2016',
 '1952',
 '2009',
 '1983',
 '1968',
 '2004',
 '1992',
 '1963',
 '2018',
 '1941',
 '1962',
 '2012',
 '1931',
 '1959',
 '1958',
 '2001']

In [20]:
#Extracting movie rating list
c = 0
for k in soup2.find_all('td', class_="ratingColumn imdbRating"):
  rating.append(k.text.split('\n')[1])
  c = c + 1
  if c >= 100:
    break

In [21]:
rating

['9.2',
 '9.2',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2']

In [22]:
data = {
    'Movie Name' : movies,
    'Year of release' : year,
    'IMDB Rating' : rating 
}
df = pd.DataFrame(data)

In [23]:
df

                             Movie Name Year of release IMDB Rating
0              The Shawshank Redemption            1994         9.2
1                         The Godfather            1972         9.2
2                       The Dark Knight            2008         9.0
3                 The Godfather Part II            1974         9.0
4                          12 Angry Men            1957         8.9
..                                  ...             ...         ...
95                               Jagten            2012         8.3
96    M - Eine Stadt sucht einen Mörder            1931         8.3
97                   North by Northwest            1959         8.3
98                              Vertigo            1958         8.2
99  Le fabuleux destin d'Amélie Poulain            2001         8.2

[100 rows x 3 columns]

#Q3. Display IMDB'S Top rated Indian movies' data

In [24]:
page3 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [25]:
page3

In [26]:
soup3 = BeautifulSoup(page3.content)
#soup3

In [27]:
movies = []
year = []
rating = []

In [28]:
#Extracting movie name list
a = 0
for i in soup3.find_all('td', class_="titleColumn"):
  movies.append(i.text.split('\n')[2].strip())
  a = a + 1
  if a >= 100:
    break

In [29]:
movies

['Jai Bhim',
 'Anbe Sivam',
 'Golmaal',
 'Nayakan',
 'Pariyerum Perumal',
 '3 Idiots',
 'Apur Sansar',
 'Manichitrathazhu',
 'Black Friday',
 'Kumbalangi Nights',
 'C/o Kancharapalem',
 'Taare Zameen Par',
 '#Home',
 'Vikram',
 'Soorarai Pottru',
 'Dangal',
 'Kireedam',
 'Kaithi',
 'Jersey',
 'Thevar Magan',
 'Pather Panchali',
 'Asuran',
 '96',
 'Visaaranai',
 'Thalapathi',
 'Natsamrat',
 'Sarpatta Parambarai',
 'Drishyam 2',
 'Sardar Udham',
 'Thani Oruvan',
 'Aparajito',
 'Vada Chennai',
 'Jaane Bhi Do Yaaro',
 'Khosla Ka Ghosla!',
 'Drishyam',
 'Chupke Chupke',
 'Peranbu',
 'Agent Sai Srinivasa Athreya',
 'Anniyan',
 'Mahanati',
 'Super Deluxe',
 'Satya',
 'Bangalore Days',
 'Premam',
 'Ratsasan',
 'Devasuram',
 'Bhaag Milkha Bhaag',
 'Gangs of Wasseypur',
 'Aruvi',
 'Andhadhun',
 'Drishyam',
 'Kannathil Muthamittal',
 'Guide',
 'Shahid',
 'Chithram',
 'Iruvar',
 'Sairat',
 'Paan Singh Tomar',
 'Zindagi Na Milegi Dobara',
 'Vikram Vedha',
 'Tumbbad',
 'Mudhalvan',
 'Dhuruvangal Pathinaaru',
 'Black',
 'Chhichhore',
 'Spadikam',
 'Swades: We, the People',
 'Chak De! India',
 'Jo Jeeta Wohi Sikandar',
 'Pudhu Pettai',
 'Papanasam',
 'Pyaasa',
 'Soodhu Kavvum',
 'PK',
 'Munna Bhai M.B.B.S.',
 'Article 15',
 'Mandela',
 'Queen',
 'Talvar',
 'Uri: The Surgical Strike',
 'Kaakkaa Muttai',
 'OMG: Oh My God!',
 'Lagaan: Once Upon a Time in India',
 'Jigarthanda',
 'Sarfarosh',
 'Udaan',
 'Barfi!',
 'Sholay',
 'Theeran Adhigaaram Ondru',
 'Ustad Hotel',
 'Hera Pheri',
 'The Legend of Bhagat Singh',
 'Angoor',
 'Rang De Basanti',
 'Baasha',
 'Masaan',
 'Kahaani',
 'Baahubali 2: The Conclusion',
 'Dil Chahta Hai',
 'Maheshinte Prathikaaram']

In [30]:
len(movies)

100

In [31]:
#Extracting movie release year list
b = 0
for j in soup3.find_all('span', class_="secondaryInfo"):
  year.append(j.text[1:5])
  b = b + 1
  if b >= 100:
    break

In [32]:
year

['2021',
 '2003',
 '1979',
 '1987',
 '2018',
 '2009',
 '1959',
 '1993',
 '2004',
 '2019',
 '2018',
 '2007',
 '2021',
 '2022',
 '2020',
 '2016',
 '1989',
 '2019',
 '2019',
 '1992',
 '1955',
 '2019',
 '2018',
 '2015',
 '1991',
 '2016',
 '2021',
 '2021',
 '2021',
 '2015',
 '1956',
 '2018',
 '1983',
 '2006',
 '2013',
 '1975',
 '2018',
 '2019',
 '2005',
 '2018',
 '2019',
 '1998',
 '2014',
 '2015',
 '2018',
 '1993',
 '2013',
 '2012',
 '2016',
 '2018',
 '2015',
 '2002',
 '1965',
 '2012',
 '1988',
 '1997',
 '2016',
 '2012',
 '2011',
 '2017',
 '2018',
 '1999',
 '2016',
 '2005',
 '2019',
 '1995',
 '2004',
 '2007',
 '1992',
 '2006',
 '2015',
 '1957',
 '2013',
 '2014',
 '2003',
 '2019',
 '2021',
 '2013',
 '2015',
 '2019',
 '2014',
 '2012',
 '2001',
 '2014',
 '1999',
 '2010',
 '2012',
 '1975',
 '2017',
 '2012',
 '2000',
 '2002',
 '1982',
 '2006',
 '1995',
 '2015',
 '2012',
 '2017',
 '2001',
 '2016']

In [33]:
#Extracting movie rating list
c = 0
for k in soup3.find_all('td', class_="ratingColumn imdbRating"):
  rating.append(k.text.split('\n')[1])
  c = c + 1
  if c >= 100:
    break

In [34]:
rating

['8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [35]:
data = {
    'Movie Name' : movies,
    'Year of release' : year,
    'IMDB Rating' : rating 
}
df = pd.DataFrame(data)

In [36]:
df

                     Movie Name Year of release IMDB Rating
0                      Jai Bhim            2021         8.4
1                    Anbe Sivam            2003         8.4
2                       Golmaal            1979         8.4
3                       Nayakan            1987         8.4
4             Pariyerum Perumal            2018         8.4
..                          ...             ...         ...
95                       Masaan            2015         8.0
96                      Kahaani            2012         8.0
97  Baahubali 2: The Conclusion            2017         8.0
98               Dil Chahta Hai            2001         8.0
99      Maheshinte Prathikaaram            2016         8.0

[100 rows x 3 columns]

#Q4. Display list of respected former presidents of India

In [37]:
page4 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [38]:
page4 # can not scrap because response is [503]

#Q5. Scrape Cricket rankings

**a. Top 10 ODI Teams in men's cricket**

In [39]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [40]:
page5

In [41]:
soup5 = BeautifulSoup(page5.content)
#soup5

In [42]:
#Extracting top 10 ODI teams
topteam = []
a = 0
for i in soup5.find_all('span', class_ = "u-hide-phablet"):
  topteam.append(i.text)
  a = a + 1
  if a >= 10:
    break

In [43]:
topteam

['New Zealand',
 'England',
 'Pakistan',
 'India',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [44]:
#Extracting top 10 ODI teams matches
ttmatches = []
a = 0
for i in soup5.find_all('td', class_ = "table-body__cell u-center-text"):
  if a %2 == 0:  
    ttmatches.append(i.text)  #Extracting 2-10 rank ODI teams matches
  a = a + 1
  if a >= 18:
    break

ttmatchestop = soup5.find('td', class_= "rankings-block__banner--matches") #Extracting 1st rank ODI team matches

In [45]:
ttmatches.insert(0,ttmatchestop.text)

In [46]:
ttmatches

['12', '22', '19', '22', '23', '19', '24', '29', '32', '18']

In [47]:
#Extracting top 10 ODI teams points
ttpoints = []
a = 0
for i in soup5.find_all('td', class_ = "table-body__cell u-center-text"):
  if a %2 != 0:  
    ttpoints.append(i.text)  #Extracting 2-10 rank ODI teams points
  a = a + 1
  if a >= 18:
    break

ttpointstop = soup5.find('td', class_= "rankings-block__banner--points") #Extracting 1st rank ODI team points

In [48]:
ttpoints.insert(0,ttpointstop.text)

In [49]:
ttpoints

['1,505',
 '2,756',
 '2,005',
 '2,304',
 '2,325',
 '1,872',
 '2,275',
 '2,658',
 '2,306',
 '1,238']

In [50]:
#Extracting top 10 ODI teams rating
ttrating = []
a = 0
for i in soup5.find_all('td', class_ = "table-body__cell u-text-right rating"):  
  ttrating.append(i.text)  #Extracting 2-10 rank ODI teams rating
  a = a + 1
  if a >= 9:
    break

ttratingtop = soup5.find('td', class_= "rankings-block__banner--rating u-text-right") #Extracting 1st rank ODI team rating

In [51]:
ttrating.insert(0,ttratingtop.text.split("\n")[1].strip())

In [52]:
ttrating

['125', '125', '106', '105', '101', '99', '95', '92', '72', '69']

In [53]:
data = {
    'Top 10 ODI teams' : topteam,
    'Matches' : ttmatches,
    'Points' : ttpoints,
    'Ratings' : ttrating 
}
df = pd.DataFrame(data)

In [54]:
df

  Top 10 ODI teams Matches Points Ratings
0      New Zealand      12  1,505     125
1          England      22  2,756     125
2         Pakistan      19  2,005     106
3            India      22  2,304     105
4        Australia      23  2,325     101
5     South Africa      19  1,872      99
6       Bangladesh      24  2,275      95
7        Sri Lanka      29  2,658      92
8      West Indies      32  2,306      72
9      Afghanistan      18  1,238      69

**b. Top 10 ODI Batsmen**

In [55]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [56]:
page5

In [57]:
soup5 = BeautifulSoup(page5.content)
#soup5

In [58]:
#Extracting top 10 ODI batsmen
topbat = []
b = 0
for i in soup5.find_all('td', class_="table-body__cell name"):
  topbat.append(i.text.split('\n')[1]) #2nd to 10th ranking batsmen
  b = b + 1
  if b >= 9:
    break
topbat1 = soup5.find('div',class_="rankings-block__banner--name") #1st ranking batsman
topbat.insert(0,topbat1.text) #inserting 1st batsman on top of list

In [59]:
topbat

['Babar Azam',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'Quinton de Kock',
 'Ross Taylor',
 'Rassie van der Dussen',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope']

In [60]:
#Extracting top 10 ODI batsmen team
topbatteam = []
b = 0
for i in soup5.find_all('span', class_="table-body__logo-text"):
  topbatteam.append(i.text) #2nd to 10th ranking batsmen team
  b = b + 1
  if b >= 9:
    break
topbatteam1 = soup5.find('div',class_="rankings-block__banner--nationality") #1st ranking batsman team
topbatteam.insert(0,topbatteam1.text.split("\n")[2].strip()) #inserting 1st batsman team on top of list

In [61]:
topbatteam

['PAK', 'PAK', 'IND', 'IND', 'SA', 'NZ', 'SA', 'ENG', 'AUS', 'WI']

In [62]:
#Extracting top 10 ODI batsmen rating
topbatrating = []
b = 0
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
  topbatrating.append(i.text) #2nd to 10th ranking batsmen rating
  b = b + 1
  if b >= 9:
    break
topbatrating1 = soup5.find('div',class_="rankings-block__banner--rating") #1st ranking batsman rating
topbatrating.insert(0,topbatrating1.text) #inserting 1st batsman rating on top of list

In [63]:
topbatrating

['892', '815', '811', '791', '789', '775', '769', '752', '737', '718']

In [64]:
data = {
    'Top 10 ODI batsmen' : topbat,
    'Teams' : topbatteam,
    'Ratings' : topbatrating 
}
df = pd.DataFrame(data)

In [65]:
df

      Top 10 ODI batsmen Teams Ratings
0             Babar Azam   PAK     892
1            Imam-ul-Haq   PAK     815
2            Virat Kohli   IND     811
3           Rohit Sharma   IND     791
4        Quinton de Kock    SA     789
5            Ross Taylor    NZ     775
6  Rassie van der Dussen    SA     769
7         Jonny Bairstow   ENG     752
8           David Warner   AUS     737
9              Shai Hope    WI     718

**c. Top 10 ODI Bowlers**

In [66]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [67]:
page5

In [68]:
soup5 = BeautifulSoup(page5.content)
#soup5

In [69]:
#Extracting top 10 ODI bowlers
topbowler = []
topplayer = []
c = 0
for i in soup5.find_all('td', class_="table-body__cell name"):
  topplayer.append(i.text.split('\n')[1])
for c in range(9,18):
   topbowler.append(topplayer[c])#2nd to 10th ranking bowlers

In [70]:
topplayer1 = []
for j in soup5.find_all('div',class_="rankings-block__banner--name"):
  topplayer1.append(j.text)
topbowler1 = topplayer1[1]

In [71]:
topbowler.insert(0,topbowler1) #Inserting 1st rank bowler infront of list

In [72]:
topbowler

['Trent Boult',
 'Matt Henry',
 'Shaheen Afridi',
 'Chris Woakes',
 'Jasprit Bumrah',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Mehedi Hasan',
 'Mohammad Nabi',
 'Shakib Al Hasan']

In [73]:
#Extracting top 10 ODI bowlers teams
topbowlerteam = []
topplayerteam = []
c = 0
for i in soup5.find_all('span', class_="table-body__logo-text"):
  topplayerteam.append(i.text)
for c in range(9,18):
   topbowlerteam.append(topplayerteam[c])#2nd to 10th ranking bowlers team

In [74]:
topplayerteam1 = []
for j in soup5.find_all('div',class_="rankings-block__banner--nationality"):
  topplayerteam1.append(j.text)
topbowlerteam1 = topplayerteam1[1]

In [75]:
topbowlerteam.insert(0,topbowlerteam1.split("\n")[2].strip()) #Inserting 1st rank bowler team infront of list

In [76]:
topbowlerteam

['NZ', 'NZ', 'PAK', 'ENG', 'IND', 'AUS', 'AFG', 'BAN', 'AFG', 'BAN']

In [77]:
#Extracting top 10 ODI bowlers ratings
topbowlerrat = []
topplayerrat = []
c = 0
for i in soup5.find_all('td', class_="table-body__cell u-text-right rating"):
  topplayerrat.append(i.text)
for c in range(9,18):
   topbowlerrat.append(topplayerrat[c])#2nd to 10th ranking bowlers rating

In [78]:
topplayerrat1 = []
for j in soup5.find_all('div',class_="rankings-block__banner--rating"):
  topplayerrat1.append(j.text)
topbowlerrat1 = topplayerrat1[1]

In [79]:
topbowlerrat.insert(0,topbowlerrat1) #Inserting 1st rank bowler rating infront of list

In [80]:
topbowlerrat

['726', '683', '681', '680', '679', '679', '676', '661', '657', '657']

In [81]:
data = {
    'Top 10 ODI bowlers' : topbowler,
    'Teams' : topbowlerteam,
    'Ratings' : topbowlerrat 
}
df = pd.DataFrame(data)

In [82]:
df

  Top 10 ODI bowlers Teams Ratings
0        Trent Boult    NZ     726
1         Matt Henry    NZ     683
2     Shaheen Afridi   PAK     681
3       Chris Woakes   ENG     680
4     Jasprit Bumrah   IND     679
5     Josh Hazlewood   AUS     679
6   Mujeeb Ur Rahman   AFG     676
7       Mehedi Hasan   BAN     661
8      Mohammad Nabi   AFG     657
9    Shakib Al Hasan   BAN     657

#Q6. Scrape Cricket rankings

**a. Top 10 ODI Teams in women's cricket**

In [83]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [84]:
page6

In [85]:
soup6 = BeautifulSoup(page6.content)
#soup6

In [86]:
#Extracting top 10 ODI teams
topteam = []
a = 0
for i in soup6.find_all('span', class_ = "u-hide-phablet"):
  topteam.append(i.text)
  a = a + 1
  if a >= 10:
    break

In [87]:
topteam

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland']

In [88]:
#Extracting top 10 ODI teams matches
ttmatches = []
a = 0
for i in soup6.find_all('td', class_ = "table-body__cell u-center-text"):
  if a %2 == 0:  
    ttmatches.append(i.text)  #Extracting 2-10 rank ODI teams matches
  a = a + 1
  if a >= 18:
    break

ttmatchestop = soup6.find('td', class_= "rankings-block__banner--matches") #Extracting 1st rank ODI team matches

In [89]:
ttmatches.insert(0,ttmatchestop.text)

In [90]:
ttmatches

['29', '32', '30', '29', '31', '30', '12', '30', '8', '8']

In [91]:
#Extracting top 10 ODI teams points
ttpoints = []
a = 0
for i in soup6.find_all('td', class_ = "table-body__cell u-center-text"):
  if a %2 != 0:  
    ttpoints.append(i.text)  #Extracting 2-10 rank ODI teams points
  a = a + 1
  if a >= 18:
    break

ttpointstop = soup6.find('td', class_= "rankings-block__banner--points") #Extracting 1st rank ODI team points

In [92]:
ttpoints.insert(0,ttpointstop.text)

In [93]:
ttpoints

['4,837',
 '3,949',
 '3,531',
 '2,889',
 '3,019',
 '2,768',
 '930',
 '1,962',
 '384',
 '351']

In [94]:
#Extracting top 10 ODI teams rating
ttrating = []
a = 0
for i in soup6.find_all('td', class_ = "table-body__cell u-text-right rating"):  
  ttrating.append(i.text)  #Extracting 2-10 rank ODI teams rating
  a = a + 1
  if a >= 9:
    break

ttratingtop = soup6.find('td', class_= "rankings-block__banner--rating u-text-right") #Extracting 1st rank ODI team rating

In [95]:
ttrating.insert(0,ttratingtop.text.split("\n")[1].strip())

In [96]:
ttrating

['167', '123', '118', '100', '97', '92', '78', '65', '48', '44']

In [97]:
data = {
    'Top 10 ODI teams' : topteam,
    'Matches' : ttmatches,
    'Points' : ttpoints,
    'Ratings' : ttrating
}
df = pd.DataFrame(data)

In [98]:
df

  Top 10 ODI teams Matches Points Ratings
0        Australia      29  4,837     167
1     South Africa      32  3,949     123
2          England      30  3,531     118
3            India      29  2,889     100
4      New Zealand      31  3,019      97
5      West Indies      30  2,768      92
6       Bangladesh      12    930      78
7         Pakistan      30  1,962      65
8        Sri Lanka       8    384      48
9          Ireland       8    351      44

**b. Top 10 women's ODI Batting**

In [99]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [100]:
page6

In [101]:
soup6 = BeautifulSoup(page6.content)
#soup6

In [102]:
#Extracting top 10 ODI batswomen
topbat = []
b = 0
for i in soup6.find_all('td', class_="table-body__cell name"):
  topbat.append(i.text.split('\n')[1]) #2nd to 10th ranking batswomen
  b = b + 1
  if b >= 9:
    break
topbat1 = soup6.find('div',class_="rankings-block__banner--name") #1st ranking batswoman
topbat.insert(0,topbat1.text) #inserting 1st batswoman on top of list

In [103]:
topbat

['Alyssa Healy',
 'Natalie Sciver',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Meg Lanning',
 'Rachael Haynes',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Tammy Beaumont',
 'Ellyse Perry']

In [104]:
#Extracting top 10 ODI batswomen teams
topbatteam = []
b = 0
for i in soup6.find_all('span', class_="table-body__logo-text"):
  topbatteam.append(i.text) #2nd to 10th ranking batswomen
  b = b + 1
  if b >= 9:
    break
topbatteam1 = soup6.find('div',class_="rankings-block__banner--nationality") #1st ranking batswoman
topbatteam.insert(0,topbatteam1.text.split("\n")[2].strip()) #inserting 1st batswoman on top of list

In [105]:
topbatteam

['AUS', 'ENG', 'AUS', 'SA', 'AUS', 'AUS', 'NZ', 'IND', 'ENG', 'AUS']

In [106]:
#Extracting top 10 ODI batswomen ratings
topbatrat = []
b = 0
for i in soup6.find_all('td', class_="table-body__cell u-text-right rating"):
  topbatrat.append(i.text) #2nd to 10th ranking batswomen
  b = b + 1
  if b >= 9:
    break
topbatrat1 = soup6.find('div',class_="rankings-block__banner--rating") #1st ranking batswoman
topbatrat.insert(0,topbatrat1.text) #inserting 1st batswoman on top of list

In [107]:
topbatrat

['785', '750', '748', '713', '710', '701', '681', '669', '659', '642']

In [108]:
data = {
    'Top 10 ODI batswomen' : topbat,
    'Teams' : topbatteam,
    'Ratings' : topbatrat 
}
df = pd.DataFrame(data)

In [109]:
df

  Top 10 ODI batswomen Teams Ratings
0         Alyssa Healy   AUS     785
1       Natalie Sciver   ENG     750
2          Beth Mooney   AUS     748
3      Laura Wolvaardt    SA     713
4          Meg Lanning   AUS     710
5       Rachael Haynes   AUS     701
6    Amy Satterthwaite    NZ     681
7      Smriti Mandhana   IND     669
8       Tammy Beaumont   ENG     659
9         Ellyse Perry   AUS     642

**c. Top 10 women's ODI all-rounder**

In [110]:
page6 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [111]:
page6

In [112]:
soup6 = BeautifulSoup(page6.content)
#soup6

In [113]:
#Extracting top 10 ODI all-rounder
toprounder = []
topplayer = []
c = 0
for i in soup6.find_all('td', class_="table-body__cell name"):
  topplayer.append(i.text.split('\n')[1])
for c in range(18,27):
   toprounder.append(topplayer[c])#2nd to 10th ranking all-rounder

In [114]:
topplayer1 = []
for j in soup6.find_all('div',class_="rankings-block__banner--name"):
  topplayer1.append(j.text)
toprounder1 = topplayer1[2]

In [115]:
toprounder.insert(0,toprounder1) #Inserting 1st rank all-rounder infront of list

In [116]:
toprounder

['Natalie Sciver',
 'Ellyse Perry',
 'Hayley Matthews',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Ashleigh Gardner',
 'Deepti Sharma',
 'Jess Jonassen',
 'Sune Luus',
 'Katherine Brunt']

In [117]:
#Extracting top 10 ODI all-rounder team
toprounderteam = []
topplayerteam = []
c = 0
for i in soup6.find_all('span', class_="table-body__logo-text"):
  topplayerteam.append(i.text)
for c in range(18,27):
   toprounderteam.append(topplayerteam[c])#2nd to 10th ranking all-rounder team

In [118]:
topplayerteam1 = []
for j in soup6.find_all('div',class_="rankings-block__banner--nationality"):
  topplayerteam1.append(j.text)
toprounderteam1 = topplayerteam1[2]

In [119]:
toprounderteam.insert(0,toprounderteam1.split("\n")[2].strip()) #Inserting 1st rank all-rounder team infront of list

In [120]:
toprounderteam

['ENG', 'AUS', 'WI', 'SA', 'NZ', 'AUS', 'IND', 'AUS', 'SA', 'ENG']

In [121]:
#Extracting top 10 ODI all-rounder ratings
toprounderrat = []
topplayerrat = []
c = 0
for i in soup6.find_all('td', class_="table-body__cell u-text-right rating"):
  topplayerrat.append(i.text)
for c in range(18,27):
   toprounderrat.append(topplayerrat[c])#2nd to 10th ranking all-rounder rating

In [122]:
topplayerrat1 = []
for j in soup6.find_all('div',class_="rankings-block__banner--rating"):
  topplayerrat1.append(j.text)
toprounderrat1 = topplayerrat1[2]

In [123]:
toprounderrat.insert(0,toprounderrat1) #Inserting 1st rank all-rounder rating infront of list

In [124]:
toprounderrat

['393', '374', '338', '338', '335', '269', '249', '245', '223', '221']

In [125]:
data = {
    'Top 10 ODI all-rounder' : toprounder,
    'Teams' : toprounderteam,
    'Ratings' : toprounderrat 
}
df = pd.DataFrame(data)

In [126]:
df

  Top 10 ODI all-rounder Teams Ratings
0         Natalie Sciver   ENG     393
1           Ellyse Perry   AUS     374
2        Hayley Matthews    WI     338
3         Marizanne Kapp    SA     338
4            Amelia Kerr    NZ     335
5       Ashleigh Gardner   AUS     269
6          Deepti Sharma   IND     249
7          Jess Jonassen   AUS     245
8              Sune Luus    SA     223
9        Katherine Brunt   ENG     221

#Q7. Scrape mentioned news details

In [127]:
page7 = requests.get('https://www.cnbc.com/world/?region=world')

In [128]:
page7

In [129]:
soup7 = BeautifulSoup(page7.content)
#soup7

**i. Headline**

In [130]:
headlines = []

In [131]:
#Extracting headlines
for i in soup7.find_all('a', class_="LatestNews-headline"):
  headlines.append(i.text)

In [132]:
headlines

['A winning $1 million Mega Millions ticket is about to expire ',
 'LVMH buys California wine giant Joseph Phelps as high-end drinks market soars',
 '25-year-old TikTok creator with 7 million followers saves 50% of her income',
 "Bed Bath & Beyond says it's still open to selling its Buybuy Baby division",
 "Unilever reaches deal to keep selling Ben & Jerry's ice cream in Israel",
 'Powell vows to prevent inflation from taking hold in the U.S. for the long run',
 "We're trimming a stock we like that's rallying to replenish some cash",
 "DOJ says the U.S. and allies have frozen $30 billion of Russian elites' assets",
 'Goldman expects weak Tesla results, recommends these EV plays',
 'What to do if your new job offer gets rescinded, according to HR experts',
 "Starz could turn into an 'acquisition machine' after Lionsgate spins it off",
 'NATO deal between Turkey, Sweden and Finland brings home wins for Erdogan',
 'Jim Chanos debuts new short bets against data centers, sending shares down',
 'This 42-year-old CEO used $3,000 in savings to build a $1.2 billion food startup',
 "Watch for these 4 red flags at job interviews, warns Harvard biz expert: 'You don't want to work there'",
 "Goldman's stock picks for the multitrillion dollar ESG opportunity ahead",
 'Snap announces Snapchat+ subscription plan that costs $3.99 a month',
 'Jim Cramer invested $100 a month in his 20s—even while living in his car',
 "Crypto exchange CoinFlex claims 'Bitcoin Jesus' is the investor behind $47 million debt",
 "Another crypto 'washout' is coming before investors should buy, Fundstrat says",
 "3 ways the Supreme Court's decision on Roe could hurt women in the workplace",
 'Buy now, pay later refunds can get complicated: What to know before you shop',
 'What Cramer is watching Wednesday — mass chip price-target cuts, lots of C-suite changes',
 'Watch Fed Chair Powell talk live about the economy, interest rates at ECB forum ',
 "Wednesday's top analyst calls: Tesla, Goldman Sachs, Penn, Amazon, McDonald's",
 'Analysts still see earnings rising even as the U.S. teeters on a recession',
 'Congested Port of Oakland slashing free wait time for import containers',
 'Delta offers free flight changes over July Fourth weekend',
 '‘We are in a hybrid war,’ German foreign minister says amid energy crisis',
 'Crypto hedge fund Three Arrows Capital plunges into liquidation as market crash takes toll']

**ii. Time**

In [133]:
time = []

In [134]:
#Extracting time
for j in soup7.find_all('time', class_="LatestNews-timestamp"):
  time.append(j.text)

In [135]:
time

['20 Min Ago',
 '25 Min Ago',
 '33 Min Ago',
 '44 Min Ago',
 '50 Min Ago',
 '52 Min Ago',
 '54 Min Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago']

**iii. News Link**

In [136]:
links =[]

In [137]:
#Extracting links
for k in soup7.find_all('a', class_="LatestNews-headline",href = True):
  links.append(k['href'])

In [138]:
links

['https://www.cnbc.com/2022/06/29/a-mega-millions-ticket-worth-1-million-is-about-to-expire.html',
 'https://www.cnbc.com/2022/06/29/lvmh-buys-california-wine-giant-joseph-phelps-as-high-end-drinks-market-soars.html',
 'https://www.cnbc.com/2022/06/29/why-tiktoks-brittany-broski-saves-50-percent-of-her-income.html',
 'https://www.cnbc.com/2022/06/29/bed-bath-beyond-says-its-still-open-to-selling-its-buybuy-baby-division.html',
 'https://www.cnbc.com/2022/06/29/unilever-reaches-deal-to-keep-selling-ben-jerrys-ice-cream-in-israel.html',
 'https://www.cnbc.com/2022/06/29/powell-vows-to-prevent-inflation-from-taking-long-run-hold-in-the-us.html',
 'https://www.cnbc.com/2022/06/29/investing-club-were-trimming-a-stock-we-like-thats-rallying-to-replenish-some-cash.html',
 'https://www.cnbc.com/2022/06/29/doj-says-allies-have-frozen-30-billion-of-russian-oligarch-assets.html',
 'https://www.cnbc.com/2022/06/29/goldman-expects-weak-tesla-results-recommends-these-ev-plays.html',
 'https://www.cnbc.com/2022/06/29/hr-experts-what-to-do-if-your-new-job-offer-gets-rescinded.html',
 'https://www.cnbc.com/2022/06/29/starz-could-turn-into-acquisition-machine-after-spinoff-from-lionsgate.html',
 'https://www.cnbc.com/2022/06/29/nato-deal-between-turkey-sweden-and-finland-brings-wins-for-erdogan.html',
 'https://www.cnbc.com/2022/06/29/jim-chanos-debuts-new-short-bets-against-data-centers-sending-shares-down.html',
 'https://www.cnbc.com/2022/06/29/eat-just-ceo-from-3000-in-savings-to-1point2-billion-food-startup.html',
 'https://www.cnbc.com/2022/06/29/watch-for-these-red-flags-during-the-job-interview-says-harvard-business-and-ethics-expert.html',
 'https://www.cnbc.com/2022/06/29/goldmans-stock-picks-for-the-multitrillion-dollar-esg-opportunity-ahead.html',
 'https://www.cnbc.com/2022/06/29/snapchat-plus-subscription-plan-price-release.html',
 'https://www.cnbc.com/2022/06/29/jim-cramer-i-invested-money-even-when-i-lived-in-my-car.html',
 'https://www.cnbc.com/2022/06/29/crypto-exchange-coinflex-claims-roger-ver-is-behind-47-million-debt.html',
 'https://www.cnbc.com/2022/06/29/theres-another-crypto-washout-coming-before-investors-should-buy-fundstrat-says.html',
 'https://www.cnbc.com/2022/06/29/supreme-court-abortion-decision-could-hurt-women-in-the-workplace.html',
 'https://www.cnbc.com/2022/06/29/buy-now-pay-later-loans-can-get-complicated-when-you-want-a-refund.html',
 'https://www.cnbc.com/2022/06/29/what-cramer-is-watching-wednesday-mass-chip-price-target-cuts-lots-of-c-suite-changes.html',
 'https://www.cnbc.com/2022/06/29/watch-fed-chair-powell-talk-live-about-the-economy-interest-rates-at-ecb-forum-.html',
 'https://www.cnbc.com/2022/06/29/-wednesday-street-calls-tesla-goldman-sachs-amazon-mcdonalds-.html',
 'https://www.cnbc.com/2022/06/29/head-scratcher-analysts-still-see-earnings-rising-this-year-even-as-the-us-teeters-on-a-recession.html',
 'https://www.cnbc.com/2022/06/29/port-of-oakland-slashing-free-wait-time-for-import-containers.html',
 'https://www.cnbc.com/2022/06/29/delta-offers-free-flight-changes-over-july-fourth-weekend.html',
 'https://www.cnbc.com/2022/06/29/russia-ukraine-war-germany-concerned-amid-deepening-energy-crisis.html',
 'https://www.cnbc.com/2022/06/29/crypto-hedge-fund-three-arrows-capital-plunges-into-liquidation.html']

#Q8. Scrape the following:

In [139]:
page8 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [140]:
page8

In [141]:
soup8 = BeautifulSoup(page8.content)
#soup8

**i. Paper Title**

In [142]:
title = []

In [143]:
#Extracting titles
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
  title.append(i.text)

In [144]:
title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

**ii. Authors**

In [145]:
authors = []

In [146]:
#Extracting authors
for j in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
  authors.append(j.text)

In [147]:
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

**iii. Published Date**

In [148]:
date = []

In [149]:
#Extracting dates
for k in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
  date.append(k.text)

In [150]:
date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

**iv. Paper URL**

In [151]:
url = []

In [152]:
#Extracting url
for l in soup8.find_all('a', class_="sc-5smygv-0 nrDZj", href =True):
  url.append(l['href'])

In [153]:
url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

#Q9. Scrape mentioned details from dineout

In [154]:
page9 = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [155]:
page9

In [156]:
soup9 = BeautifulSoup(page9.content)
#soup9

**i. Restaurant Name**

In [157]:
resname = []

In [158]:
#Extracting Restaurant name
for i in soup9.find_all('a', class_="restnt-name ellipsis"):
  resname.append(i.text)

In [159]:
resname

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

**ii. Cuisine**

In [160]:
cuisine = []

In [161]:
#Extracting Cuisine
for j in soup9.find_all('div', class_="detail-info"):
  cuisine.append(j.text.split('|')[1].strip())

In [162]:
cuisine

['North Indian, Chinese',
 'North Indian, Asian, Italian',
 'Chinese, North Indian',
 'Italian, Continental3 deals available',
 'North Indian, Chinese4 deals available',
 'North Indian, Italian',
 'North Indian',
 'North Indian',
 'North Indian, Italian',
 'North Indian, Mughlai',
 'North Indian',
 'North Indian, Mughlai, Desserts, Beverages',
 'European, Italian, Asian, Continental']

**iii. Location**

In [163]:
loc = []

In [164]:
#Extracting Location
for k in soup9.find_all('div', class_="restnt-loc ellipsis"):
  loc.append(k.text)

In [165]:
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

**iv. Ratings**

In [166]:
ratings = []

In [167]:
#Extracting Ratings
for l in soup9.find_all('div', class_="restnt-rating rating-4"):
  ratings.append(l.text)

In [168]:
ratings

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.8',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4']

**v. Image URL**

In [169]:
url = []

In [170]:
#Extracting Image URL
for m in soup9.find_all('div', class_="img cursor"):
  url.append(m.get('data-link'))

In [171]:
url

['/delhi/castle-barbeque-connaught-place-central-delhi-86792',
 '/delhi/jungle-jamboree-lajpat-nagar-3-south-delhi-59633',
 '/delhi/castle-barbeque-tagore-garden-west-delhi-38113',
 '/delhi/cafe-knosh-shahdara-east-delhi-406',
 '/delhi/the-barbeque-company-sector-38a-noida-79307',
 '/delhi/india-grill-saket-south-delhi-2687',
 '/delhi/delhi-barbeque-mahipalpur-south-delhi-52501',
 '/delhi/the-monarch-bar-be-que-village-indirapuram-ghaziabad-34822',
 '/delhi/world-cafe-sector-35-faridabad-12366',
 '/delhi/indian-grill-room-golf-course-road-gurgaon-549',
 '/delhi/mad-4-bar-b-que-sector-29-faridabad-43488',
 '/delhi/barbeque-29-nit-faridabad-58842',
 '/delhi/glasshouse-sector-50-gurgaon-9875']

#Q10. Scrape the details of top publications from Google Scholar

In [172]:
page10 = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [173]:
page10

In [174]:
soup10 = BeautifulSoup(page10.content)
#soup10

**i. Rank**

In [175]:
rank = []

In [176]:
#Extracting Rank
for i in soup10.find_all('td', class_="gsc_mvt_p"):
  rank.append(i.text.split(".")[0])

In [177]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

**ii. Publication**

In [178]:
public = []

In [179]:
#Extracting Publication
for i in soup10.find_all('td', class_="gsc_mvt_t"):
  public.append(i.text)

In [180]:
public

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

**iii. h5-index**

In [181]:
h5i = []

In [182]:
#Extracting h5-index
a=0
for i in soup10.find_all('td', class_="gsc_mvt_n"):
  a = a+1
  if a % 2 != 0:
    h5i.append(i.text)

In [183]:
h5i

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

**iv. h5-median**

In [184]:
h5m = []

In [185]:
#Extracting h5-median
a=0
for i in soup10.find_all('td', class_="gsc_mvt_n"):
  a = a+1
  if a % 2 == 0:
    h5m.append(i.text)

In [186]:
h5m

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']