#Q1. Scrape data for “Data Analyst” Job position in “Bangalore” location

In [53]:
!pip install selenium==4.3.0 --force-reinstall  #installing selenium library

Collecting selenium==4.3.0
  Using cached selenium-4.3.0-py3-none-any.whl (981 kB)
Collecting urllib3[secure,socks]~=1.26
  Downloading urllib3-1.26.10-py2.py3-none-any.whl (139 kB)
     |████████████████████████████████| 139 kB 3.3 MB/s eta 0:00:01
Collecting trio~=0.17
  Using cached trio-0.21.0-py3-none-any.whl (358 kB)
Collecting trio-websocket~=0.9
  Using cached trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting outcome
  Using cached outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting idna
  Downloading idna-3.3-py3-none-any.whl (61 kB)
     |████████████████████████████████| 61 kB 1.3 MB/s eta 0:00:01
Collecting sortedcontainers
  Using cached sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting sniffio
  Using cached sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting async-generator>=1.9
  Using cached async_generator-1.10-py3-none-any.whl (18 kB)
Collecting attrs>=19.2.0
  Using cached attrs-21.4.0-py2.py3-none-any.whl (60 kB)
Collecting wsproto>=0.14
  Using cached wsproto-1.1.0-py3-none-any.whl (24 kB)
Collecting PySocks!=1.5.7,<2.0,>=1.5.6
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting cryptography>=1.3.4
  Downloading cryptography-37.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 6.9 MB/s eta 0:00:01
Collecting certifi
  Downloading certifi-2022.6.15-py3-none-any.whl (160 kB)
     |████████████████████████████████| 160 kB 6.1 MB/s eta 0:00:01
Collecting pyOpenSSL>=0.14
  Downloading pyOpenSSL-22.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 752 kB/s eta 0:00:01
Collecting cffi>=1.12
  Downloading cffi-1.15.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (427 kB)
     |████████████████████████████████| 427 kB 5.8 MB/s eta 0:00:01
Collecting pycparser
  Using cached pycparser-2.21-py2.py3-none-any.whl (118 kB)
Collecting h11<1,>=0.9.0
  Using cached h11-0.13.0-py3-none-any.whl (58 kB)
Collecting typing-extensions
  Downloading typing_extensions-4.3.0-py3-none-any.whl (25 kB)
Installing collected packages: pycparser, typing-extensions, cffi, attrs, sortedcontainers, sniffio, outcome, idna, h11, cryptography, async-generator, wsproto, urllib3, trio, PySocks, pyOpenSSL, certifi, trio-websocket, selenium
  Attempting uninstall: pycparser
    Found existing installation: pycparser 2.21
    Uninstalling pycparser-2.21:
      Successfully uninstalled pycparser-2.21
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.10.0.2
    Uninstalling typing-extensions-3.10.0.2:
      Successfully uninstalled typing-extensions-3.10.0.2
  Attempting uninstall: cffi
    Found existing installation: cffi 1.15.0
    Uninstalling cffi-1.15.0:
      Successfully uninstalled cffi-1.15.0
  Attempting uninstall: attrs
    Found existing installation: attrs 21.4.0
    Uninstalling attrs-21.4.0:
      Successfully uninstalled attrs-21.4.0
  Attempting uninstall: sortedcontainers
    Found existing installation: sortedcontainers 2.4.0
    Uninstalling sortedcontainers-2.4.0:
      Successfully uninstalled sortedcontainers-2.4.0
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
  Attempting uninstall: outcome
    Found existing installation: outcome 1.2.0
    Uninstalling outcome-1.2.0:
      Successfully uninstalled outcome-1.2.0
  Attempting uninstall: idna
    Found existing installation: idna 3.3
    Uninstalling idna-3.3:
      Successfully uninstalled idna-3.3
  Attempting uninstall: h11
    Found existing installation: h11 0.13.0
    Uninstalling h11-0.13.0:
      Successfully uninstalled h11-0.13.0
  Attempting uninstall: cryptography
    Found existing installation: cryptography 3.4.8
    Uninstalling cryptography-3.4.8:
      Successfully uninstalled cryptography-3.4.8
  Attempting uninstall: async-generator
    Found existing installation: async-generator 1.10
    Uninstalling async-generator-1.10:
      Successfully uninstalled async-generator-1.10
  Attempting uninstall: wsproto
    Found existing installation: wsproto 1.1.0
    Uninstalling wsproto-1.1.0:
      Successfully uninstalled wsproto-1.1.0
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.7
    Uninstalling urllib3-1.26.7:
      Successfully uninstalled urllib3-1.26.7
  Attempting uninstall: trio
    Found existing installation: trio 0.21.0
    Uninstalling trio-0.21.0:
      Successfully uninstalled trio-0.21.0
  Attempting uninstall: PySocks
    Found existing installation: PySocks 1.7.1
    Uninstalling PySocks-1.7.1:
      Successfully uninstalled PySocks-1.7.1
  Attempting uninstall: pyOpenSSL
    Found existing installation: pyOpenSSL 21.0.0
    Uninstalling pyOpenSSL-21.0.0:
      Successfully uninstalled pyOpenSSL-21.0.0
  Attempting uninstall: certifi
    Found existing installation: certifi 2021.10.8
    Uninstalling certifi-2021.10.8:
      Successfully uninstalled certifi-2021.10.8
  Attempting uninstall: trio-websocket
    Found existing installation: trio-websocket 0.9.2
    Uninstalling trio-websocket-0.9.2:
      Successfully uninstalled trio-websocket-0.9.2
  Attempting uninstall: selenium
    Found existing installation: selenium 4.3.0
    Uninstalling selenium-4.3.0:
      Successfully uninstalled selenium-4.3.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.
Successfully installed PySocks-1.7.1 async-generator-1.10 attrs-21.4.0 certifi-2022.6.15 cffi-1.15.1 cryptography-37.0.4 h11-0.13.0 idna-3.3 outcome-1.2.0 pyOpenSSL-22.0.0 pycparser-2.21 selenium-4.3.0 sniffio-1.2.0 sortedcontainers-2.4.0 trio-0.21.0 trio-websocket-0.9.2 typing-extensions-4.3.0 urllib3-1.26.10 wsproto-1.1.0

In [781]:
#import all required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [150]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [151]:
url = 'https://www.naukri.com/'
driver.get(url)

In [152]:
#Finding web element for Skill, Designations, Companies field
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [153]:
#Write on search job bar
search_job.send_keys("Data Analyst")

In [154]:
#Finding web element for location field
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [155]:
#Write on search job bar
search_loc.send_keys("Bangalore")

In [156]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_but

In [157]:
#Clicking search button
search_but.click()

In [159]:
#let's extract all web elements having job titles as parent tag
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [161]:
#extracting 10 job titles
titles = []
a=0
for i in title_tags:
    if a<=9:
        titles.append(i.text)
    a=a+1

In [162]:
#let's extract all web elements having company as parent tag
company_tags= driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [163]:
#extracting 10 company name
company = []
a=0
for i in company_tags:
    if a<=9:
        company.append(i.text)
    a=a+1

In [165]:
#let's extract all web elements having experience as parent tag
exp_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [166]:
#extracting 10 experience tags
exp = []
a=0
for i in exp_tags:
    if a<=9:
        exp.append(i.text)
    a=a+1

In [167]:
#let's extract all web elements having location as parent tag
loc_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [168]:
#extracting 10 location informations
loc = []
a=0
for i in loc_tags:
    if a<=9:
        loc.append(i.text)
    a=a+1

In [170]:
jobs = pd.DataFrame()
jobs['Job titles'] = titles
jobs['Job location'] = loc
jobs['Company name'] = company
jobs['Experience required'] = exp
jobs

,Job titles,Job location,Company name,Experience required
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Sr Data Analyst,Bangalore/Bengaluru,Thomson Reuters,5-8 Yrs
2,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai",Capco,7-12 Yrs
3,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad",CURise Analytics Pvt. Ltd.,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru,Thomson Reuters,2-3 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
6,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Wipro,4-9 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
9,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs

#Q2. Scrape data for “Data Scientist” Job position in “Bangalore” location

In [226]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [227]:
url = 'https://www.naukri.com/'
driver.get(url)

In [228]:
#Finding web element for Skill, Designations, Companies field
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [229]:
#Write on search job bar
search_job.send_keys("Data Scientist")

In [230]:
#Finding web element for location field
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [231]:
#Write on search job bar
search_loc.send_keys("Bangalore")

In [232]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_but

In [233]:
#Clicking search button
search_but.click()

In [234]:
#let's extract all web elements having job titles as parent tag
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [235]:
#extracting 10 job titles
titles = []
a=0
for i in title_tags:
    if a<=9:
        titles.append(i.text)
    a=a+1

In [236]:
#let's extract all web elements having company as parent tag
company_tags= driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [237]:
#extracting 10 company name
company = []
a=0
for i in company_tags:
    if a<=9:
        company.append(i.text)
    a=a+1

In [238]:
#let's extract all web elements having location as parent tag
loc_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [239]:
#extracting 10 location information
loc = []
a=0
for i in loc_tags:
    if a<=9:
        loc.append(i.text)
    a=a+1

In [240]:
jobs = pd.DataFrame()
jobs['Job titles'] = titles
jobs['Job location'] = loc
jobs['Company name'] = company
jobs

,Job titles,Job location,Company name
0,Data Scientist/ Senior Data Scientist,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C...",Fractal Analytics
1,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
2,Hiring For Senior Data Scientist,"Bangalore/Bengaluru, Pune",TATA CONSULTANCY SERVICES (TCS)
3,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Data & Analytics Tech - Informatica Cloud- Sen...,Bangalore/Bengaluru,PwC
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
7,Research Scientist,Bangalore/Bengaluru,IBM
8,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric
9,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL

#Q3.Scrape data using the filters available on the webpage

In [252]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [253]:
url = 'https://www.naukri.com/'
driver.get(url)

In [254]:
#Finding web element for Skill, Designations, Companies field
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [255]:
#Write on search job bar
search_job.send_keys("Data Scientist")

In [256]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_but

In [257]:
#Clicking search button
search_but.click()

In [258]:
#applying location filter
loc_check = driver.find_element(By.XPATH,"//html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
loc_check.click()

In [259]:
#applying salary filter
sal_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
sal_check.click()

In [260]:
#let's extract all web elements having job titles as parent tag
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [261]:
#extracting 10 job titles
titles = []
a=0
for i in title_tags:
    if a<=9:
        titles.append(i.text)
    a=a+1

In [262]:
#let's extract all web elements having company as parent tag
company_tags= driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [263]:
#extracting 10 company name
company = []
a=0
for i in company_tags:
    if a<=9:
        company.append(i.text)
    a=a+1

In [264]:
#let's extract all web elements having experience as parent tag
exp_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [265]:
#extracting 10 experience tags
exp = []
a=0
for i in exp_tags:
    if a<=9:
        exp.append(i.text)
    a=a+1

In [266]:
#let's extract all web elements having location as parent tag
loc_tags= driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(loc_tags)

20

In [267]:
#extracting 10 location informations
loc = []
a=0
for i in loc_tags:
    if a<=9:
        loc.append(i.text)
    a=a+1

In [268]:
jobs = pd.DataFrame()
jobs['Job titles'] = titles
jobs['Job location'] = loc
jobs['Company name'] = company
jobs['Experience required'] = exp
jobs

,Job titles,Job location,Company name,Experience required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",8KMiles Software Services,2-7 Yrs
5,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
6,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
9,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs

#Q4. Scrape data of first 100 sunglasses listings on flipkart.com

In [584]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [585]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [586]:
#Finding web element for Products
search_pro = driver.find_element(By.XPATH,"//html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_pro

In [587]:
#Write on search bar
search_pro.send_keys("sunglasses")

In [588]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_but

In [589]:
#Clicking search button
search_but.click()

In [590]:
a = 0
brand = []

In [611]:
#let's extract all web elements having Brands as parent tag
brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')

In [612]:
#extracting 100 brands
for i in brand_tags:
    if a<=99:
        brand.append(i.text)
    a=a+1
len(brand)

100

In [593]:
des = []
b=0

In [613]:
#let's extract all web elements having Product Description as parent tag
des_tags= driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')

In [614]:
#extracting 100 Product descriptions
for i in des_tags:
    if b<=99:
        des.append(i.text)
    b=b+1
len(des)

100

In [596]:
price = []
c=0

In [615]:
#let's extract all web elements having Price as parent tag
price_tags= driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

In [616]:
#extracting 100 Price tags
for i in price_tags:
    if c<=99:
        price.append(i.text)
    c=c+1
len(price)

100

In [599]:
disc = []
d=0

In [617]:
#let's extract all web elements having Dicount as parent tag
disc_tags= driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')

In [618]:
#extracting 100 Discount tags
for i in disc_tags:
    if d<=99:
        disc.append(i.text)
    d=d+1
len(disc)

100

In [619]:
sunglasses = pd.DataFrame()
sunglasses['Brand'] = brand
sunglasses['Product Description'] = des
sunglasses['Price'] = price
sunglasses['Discount'] = disc
sunglasses

,Brand,Product Description,Price,Discount
0,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
1,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
3,Elligator,UV Protection Round Sunglasses (54),₹315,87% off
4,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949,52% off
96,Lee Topper,UV Protection Round Sunglasses (Free Size),₹245,75% off
97,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
98,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹664,66% off
99,ROYAL SON,"UV Protection, Gradient Over-sized Sunglasses ...",₹664,66% off

#Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone

In [373]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [374]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [375]:
#Finding web element for Products
search_pro = driver.find_element(By.XPATH,"//html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_pro

In [376]:
#Write on search bar
search_pro.send_keys("iphone 11")

In [377]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_but

In [379]:
#Clicking search button
search_but.click()

In [382]:
#clicking on first iphone 11 option in the list of iphone 11s
search_but1 = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a")
search_but1

In [384]:
#Clicking search button
search_but1.click()

In [385]:
#Switching to second tab which just opened and contains all reviews
driver.switch_to.window(driver.window_handles[1])

In [520]:
a = 0
rat = []

In [577]:
#let's extract all web elements having Review ratings as parent tag
rat_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')

In [578]:
#extracting 100 ratings
for i in rat_tags:
    if a<=99:
        rat.append(i.text)
    a=a+1
len(rat)

100

In [523]:
rsum = []
b=0

In [579]:
#let's extract all web elements having Review summary as parent tag
rsum_tags= driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')

In [580]:
#extracting 100 Review Summary
for i in rsum_tags:
    if b<=99:
        rsum.append(i.text)
    b=b+1
len(rsum)

100

In [526]:
rev = []
c=0

In [581]:
#let's extract all web elements having Full review as parent tag
rev_tags= driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')

In [582]:
#extracting 100 Price tags
for i in rev_tags:
    if c<=99:
        rev.append(i.text)
    c=c+1
len(rev)

100

In [583]:
sunglasses = pd.DataFrame()
sunglasses['Rating'] = rat
sunglasses['Review Summary'] =rsum
sunglasses['Full review'] = rev
sunglasses

,Rating,Review Summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Don’t expect much from front camera… especiall...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

In [696]:
driver.close()

#Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [620]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [621]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [622]:
#Finding web element for Products
search_pro = driver.find_element(By.XPATH,"//html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_pro

In [623]:
#Write on search bar
search_pro.send_keys("sneakers")

In [624]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_but

In [625]:
#Clicking search button
search_but.click()

In [649]:
a = 0
brand = []

In [669]:
#let's extract all web elements having Brands as parent tag
brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')

In [670]:
#extracting 100 brands
for i in brand_tags:
    if a<=99:
        brand.append(i.text)
    a=a+1
len(brand)

100

In [652]:
des = []
b=0

In [671]:
#let's extract all web elements having Product Description as parent tag
des_tags= driver.find_elements(By.XPATH, '//a[@class="IRpwTa" or @class ="IRpwTa _2-ICcC"]') #different class for flipcart assured and unassured

In [672]:
#extracting 100 Product descriptions
for i in des_tags:
    if b<=99:
        des.append(i.text)
    b=b+1
len(des)

100

In [655]:
price = []
c=0

In [673]:
#let's extract all web elements having Price as parent tag
price_tags= driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

In [674]:
#extracting 100 Price tags
for i in price_tags:
    if c<=99:
        price.append(i.text)
    c=c+1
len(price)

100

In [658]:
disc = []
d=0

In [675]:
#let's extract all web elements having Dicount as parent tag
disc_tags= driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]')

In [676]:
#extracting 100 Discount tags
for i in disc_tags:
    if d<=99:
        disc.append(i.text)
    d=d+1
len(disc)

100

In [677]:
sneakers = pd.DataFrame()
sneakers['Brand'] = brand
sneakers['Product Description'] = des
sneakers['Price'] = price
sneakers['Discount'] = disc
sneakers

,Brand,Product Description,Price,Discount
0,ADIDAS ORIGINALS,STAN SMITH VULC Sneakers For Men,"₹3,695",44% off
1,Shoes Icon,DLS Fashionable Attractive Sneakers Shoes For ...,₹399,60% off
2,WOODLAND,Sneakers For Men,"₹2,096",30% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹284,78% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
...,...,...,...,...
95,India hub,Luxury Fashionable casual sneaker shoes Sneake...,₹397,80% off
96,Robbie jones,Casual Sneakers White Shoes For Men Sneakers F...,₹499,50% off
97,PEXLO,"Combo Pack of 3 Casual Shoes, Sneakers For Men",₹592,75% off
98,PUMA,Speeder DP Sneakers For Men,"₹1,899",36% off
99,kardam&sons,Fashionable Canvas Casual Partywear Outdoor Sn...,₹399,80% off

#Q7. Go to the link - https://www.myntra.com/shoes and set second Price filter and Color filter to “Black”

In [729]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [769]:
driver.get('https://www.myntra.com/shoes')

In [738]:
#Setting price filter
price_check = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")

In [739]:
price_check.click()

In [742]:
#Setting black colour filter
colour_check = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [743]:
colour_check.click()

In [744]:
a = 0
brand = []

In [762]:
#let's extract all web elements having Brands as parent tag
brand_tags = driver.find_elements(By.XPATH, '//h3[@class="product-brand"]')

In [763]:
#extracting 100 brands
for i in brand_tags:
    if a<=99:
        brand.append(i.text)
    a=a+1
len(brand)

100

In [747]:
des = []
b=0

In [764]:
#let's extract all web elements having Short Description as parent tag
des_tags= driver.find_elements(By.XPATH, '//h4[@class="product-product"]')

In [765]:
#extracting 100 Short descriptions
for i in des_tags:
    if b<=99:
        des.append(i.text)
    b=b+1
len(des)

100

In [759]:
price = []
c=0

In [766]:
#let's extract all web elements having Price as parent tag
price_tags= driver.find_elements(By.XPATH, '//div[@class="product-price"]')

In [767]:
#extracting 100 Price tags
for i in price_tags:
    if c<=99:
        price.append(i.text)
    c=c+1
len(price)

100

In [768]:
shoes = pd.DataFrame()
shoes['Brand'] = brand
shoes['Product Description'] = des
shoes['Price'] = price
shoes

      Brand                   Product Description                        Price
0      Puma          Eternity Nitro Running Shoes  Rs. 11049Rs. 12999(15% OFF)
1      Nike          Men React Infinity 3 Running  Rs. 11895Rs. 13995(15% OFF)
2      Nike            Men KD 15 Basketball Shoes                    Rs. 13995
3      Nike           Men SRG 3 FK Training Shoes                     Rs. 8895
4      Nike        Men Zoom C Pro HC Tennis Shoes    Rs. 7560Rs. 8895(15% OFF)
..      ...                                   ...                          ...
95     Puma            Women Running Sports Shoes  Rs. 10499Rs. 14999(30% OFF)
96     Geox                Women Leather Sneakers                    Rs. 12990
97  Saint G                         Leather Block    Rs. 9975Rs. 10500(5% OFF)
98   ADIDAS             Women X9000 H.RDY Running                    Rs. 13999
99  fitflop  Embellished Leather Flatform Sandals                     Rs. 7999

[100 rows x 3 columns]

#Q8. Go to webpage https://www.amazon.in/ and enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”

In [790]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [791]:
url = 'https://www.amazon.in/'
driver.get(url)

In [792]:
#Finding web element for Products
search_pro = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_pro

In [793]:
#Write on search bar
search_pro.send_keys("Laptop")

In [794]:
#Finding web element for search button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_but

In [795]:
#Clicking search button
search_but.click()

In [796]:
#Setting “Intel Core i7 filter
core_check = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[2]/li[14]/span/a/div/label/i")

In [797]:
core_check.click()

In [984]:
a = 0
title = []

In [985]:
#let's extract all web elements having Title as parent tag
title_tags = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')

In [986]:
#extracting 10 titles
for i in title_tags:
    if a<=9:
        title.append(i.text)
    a=a+1
len(title)

10

In [993]:
rat = []
b=1

In [994]:
#let's extract all web elements having Ratings as parent tag
rat_tags= driver.find_elements(By.XPATH, "//span[@aria-label]")

In [995]:
#extracting 10 Ratings
substring = "out of"
for i in rat_tags:
    j = i.get_attribute("aria-label")
    if substring in j and b <=10:
        rat.append(j)
        b = b+1
len(rat)

10

In [996]:
price = []
c=0

In [997]:
#let's extract all web elements having Price as parent tag
price_tags= driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')

In [998]:
#extracting 10 Price tags
for i in price_tags:
    if c<=9:
        price.append(i.text)
    c=c+1
len(price)

10

In [999]:
laptop = pd.DataFrame()
laptop['Titles'] = title
laptop['Price'] = price
laptop['Ratings'] = rat
laptop

,Titles,Price,Ratings
0,"Dell New Inspiron 3521 Laptop, Intel Pqc-N5030...","30,490",4.2 out of 5 stars
1,Acer Extensa 15 Thin & Light Intel Processor P...,"26,900",3.3 out of 5 stars
2,"Microsoft Surface GO 3 8VA-00013 10.5"" (26.67 ...","49,936",3.6 out of 5 stars
3,Hp 14S-Intel Pentium Silver N6000- 8Gb Ram/256...,"31,599",2.8 out of 5 stars
4,"ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...","30,450",4.2 out of 5 stars
5,"ASUS Windows 11 Home VivoBook 13 Slate OLED, I...","63,980",4.1 out of 5 stars
6,Acer Travelmate Business Laptop Intel Pentium ...,"25,990",3.9 out of 5 stars
7,Acer Travelmate Intel® Pentium® Gold 7505 Proc...,"28,990",2.4 out of 5 stars
8,ASUS EeeBook 14 Pentium Silver - (8 GB/256 GB ...,"31,990",1.0 out of 5 stars
9,"(Renewed) ASUS VivoBook 13 Slate OLED, Intel P...","34,392",3.2 out of 5 stars

#Q9. Scrape data for first 10 job results for Data Scientist Designation in Noida location

In [1000]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [1001]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [1002]:
#Finding web element for job button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
search_but

In [1003]:
#Clicking job button
search_but.click()

In [1008]:
#Finding web element for Skill, Designations, Companies field
search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_job

In [1009]:
#Write on search job bar
search_job.send_keys("Data Scientist")

In [1010]:
#Finding web element for search button
search_but1 = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_but1

In [1011]:
#Clicking search button
search_but1.click()

In [234]:
#let's extract all web elements having job titles as parent tag
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [1014]:
#Finding web element for location tag
search_loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc

In [1015]:
#Write on search location
search_loc.send_keys("Noida")

In [1016]:
#Setting Noida filter/ ticking noida box
place_check = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")

In [1017]:
place_check.click()

In [1020]:
#let's extract all web elements having company as parent tag
company_tags= driver.find_elements(By.XPATH, '//div[@class="company-info"]')

In [1021]:
#extracting 10 company name
company = []
a=0
for i in company_tags:
    if a<=9:
        company.append(i.text)
    a=a+1
len(company)

10

In [1036]:
#let's extract all web elements having time of job brochure posting as parent tag
time_tags= driver.find_elements(By.XPATH, '//span[@class="body-small-l"]')

In [1037]:
#extracting 10 time of job brochure posting information
time = []
a=0
for i in time_tags:
    if a<=18 and a%2==0:
        time.append(i.text)
    a=a+1
len(time)

10

In [1026]:
#let's extract all web elements having RAting of company as parent tag
rat_tags= driver.find_elements(By.XPATH, '//span[@class="body-small"]')

In [1027]:
#extracting 10 Rating information
rat = []
a=0
for i in rat_tags:
    if a<=9:
        rat.append(i.text)
    a=a+1
len(rat)

10

In [1038]:
jobs = pd.DataFrame()
jobs['Company name'] = company
jobs['No. of days of job was posted'] = time
jobs['Company Rating'] = rat
jobs

,Company name,No. of days of job was posted,Company Rating
0,Optum Global Solutions (India) Private Limited...,8d ago,4.1
1,Optum Global Solutions (India) Private Limited...,15d ago,4.0
2,GENPACT India Private Limited\n4.0\n(20k Reviews),6d ago,4.3
3,Dew Solutions Pvt. Ltd.\n4.3\n(80 Reviews),13d ago,3.9
4,InfoEdge India Ltd.\n3.9\n(1.7k Reviews),14d ago,3.9
5,Info Edge India Limited\n3.9\n(1.7k Reviews),14d ago,3.9
6,Info Edge India Limited\n3.9\n(1.7k Reviews),14d ago,4.5
7,Latent bridge\n4.5\n(54 Reviews),1d ago,3.8
8,Careerera\n3.8\n(100 Reviews),28d ago,3.9
9,Careernet Consulting\n3.9\n(288 Reviews),14d ago,3.8

#Q10. Scrape the salary data for Data Scientist designation

In [1049]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [1050]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [1051]:
#Finding web element for Salaries button
search_but = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
search_but

In [1052]:
#Clicking salaries button
search_but.click()

In [1053]:
#Finding web element for job profiles
search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_job

In [1054]:
#Write on search job profiles
search_job.send_keys("Data Scientist")

In [1055]:
#Finding web element for data scientist dropdown selection
search_but1 = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
search_but1

In [1056]:
#Clicking data scientist dropdown selection
search_but1.click()

In [1061]:
#let's extract all web elements having company as parent tag
company_tags= driver.find_elements(By.XPATH, '//div[@class="company-info"]')

In [1062]:
#extracting 10 company name
company = []
a=0
for i in company_tags:
    if a<=9:
        company.append(i.text.split("\n")[0])
    a=a+1
len(company)

10

In [1080]:
#let's extract all web elements having experience required as parent tag
exp_tags= driver.find_elements(By.XPATH, '//div[@class="company-info"]')

In [1081]:
#extracting 10 experience required
exp = []
a=0
for i in exp_tags:
    if a<=9:
        exp.append(i.text.split("\n")[2].split("(")[0])
    a=a+1
len(exp)

10

In [1089]:
#let's extract all web elements having total salary records as parent tag
tot_tags= driver.find_elements(By.XPATH, '//div[@class="company-info"]')

In [1090]:
#extracting 10 total salary record
tot = []
a=0
for i in tot_tags:
    if a<=9:
        tot.append(i.text.split("\n")[2].split("(")[1].split(")")[0])
    a=a+1
len(tot)

10

In [1091]:
#let's extract all web elements having Minimum salary as parent tag
min_sal_tags= driver.find_elements(By.XPATH, '//div[@class="value body-medium"]')

In [1103]:
#extracting 10 time of Minimum salary
min_sal = []
a=0
for i in min_sal_tags:
    if a<=18 and a%2==0:
        min_sal.append(i.text)
    a=a+1
len(min_sal)

10

In [1101]:
#let's extract all web elements having Maximum salary as parent tag
max_sal_tags= driver.find_elements(By.XPATH, '//div[@class="value body-medium"]')

In [1102]:
#extracting 10 time of Maximum salary
max_sal = []
a=0
for i in max_sal_tags:
    if a<=20 and a%2!=0:
        max_sal.append(i.text)
    a=a+1
len(max_sal)

10

In [1104]:
#let's extract all web elements having Average salary as parent tag
avg_sal_tags= driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')

In [1105]:
#extracting 10 time of Average salary
avg_sal = []
a=0
for i in avg_sal_tags:
    if a<=9:
        avg_sal.append(i.text)
    a=a+1
len(avg_sal)

10

In [1106]:
jobs = pd.DataFrame()
jobs['Company name'] = company
jobs['Total salary records'] = tot
jobs['Average Salary'] = avg_sal
jobs['Minimum Salary'] = min_sal
jobs['Maximum Salary'] = max_sal
jobs['Experience required'] = exp
jobs

,Company name,Total salary records,Average Salary,Minimum Salary,Maximum Salary,Experience required
0,Walmart,based on 12 salaries,₹ 30.6L,₹ 25.0L,₹ 36.0L,3 yrs experience
1,Ab Inbev,based on 33 salaries,₹ 20.8L,₹ 15.0L,₹ 26.2L,3-4 yrs experience
2,ZS,based on 15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs experience
3,Optum,based on 32 salaries,₹ 15.9L,₹ 11.0L,₹ 22.5L,3-4 yrs experience
4,Reliance Jio,based on 21 salaries,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs experience
5,Fractal Analytics,based on 89 salaries,₹ 15.5L,₹ 10.0L,₹ 23.0L,2-4 yrs experience
6,Tiger Analytics,based on 51 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
7,UnitedHealth,based on 57 salaries,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs experience
8,EXL Service,based on 21 salaries,₹ 13.2L,₹ 7.6L,₹ 21.0L,3-4 yrs experience
9,Deloitte,based on 69 salaries,₹ 12.8L,₹ 7.0L,₹ 25.0L,2-4 yrs experience