In [1]:
#import all required libraries
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

from selenium.common.exceptions import NoSuchElementException

### Scrape the Flight prices and other details of at least 1500 flights from yatra.com that are scheduled from 7 oct to 12 oct

In [16]:
#connecting to webdriver
driver = webdriver.Chrome('chromedriver')

In [17]:
# yatra.com Delhi to Mumbai flights url
url = 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=07%2F10%2F2022&hb=&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1664343722404&viewName=normal'
driver.get(url)

In [20]:
name = []
date = []
src =[]
dest = []
dtime = []
atime =[]
dur = []
stop = []
price = []

In [84]:
a = 0

#extracting Airline name tags
name_tags = driver.find_elements(By.XPATH, '//span[@class="i-b text ellipsis"]')
for i in name_tags:
    name.append(i.text)
    a=a+1
    

#date
for i in range(0,a):
    date.append("12 oct 2022")


#extracting source tags
b=0
src_tags = driver.find_elements(By.XPATH, '//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
for i in src_tags:
    if b%2==0:
        src.append(i.text)
    b=b+1
    
#extracting Destination tags
b=0
dest_tags = driver.find_elements(By.XPATH, '//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
for i in dest_tags:
    if b%2 != 0:
        dest.append(i.text)
    b=b+1
    
    
#extracting Departure time tags
dtime_tags = driver.find_elements(By.XPATH, '//div[@class="i-b pr"]')
for i in dtime_tags:
    dtime.append(i.text)
    

#extracting Arrival time tags
atime_tags = driver.find_elements(By.XPATH, '//p[@class="bold fs-15 mb-2 pr time"]')
for i in atime_tags:
    atime.append(i.text)

    
#extracting Duration tags
dur_tags = driver.find_elements(By.XPATH, '//p[@class="fs-12 bold du mb-2"]')
for i in dur_tags:
    dur.append(i.text)
    
#extracting Total Stop tags
stop_tags = driver.find_elements(By.XPATH, '//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in stop_tags:
    stop.append(i.text)
    
    
#extracting Price tags
price_tags = driver.find_elements(By.XPATH, '//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price_tags:
    price.append(i.text)
    
time.sleep(5)

In [94]:
# yatra.com Bangalore to Kolkata flights url
url = 'https://flight.yatra.com/air-search-ui/dom2/trigger?type=O&viewName=normal&flexi=0&noOfSegments=1&origin=BLR&originCountry=IN&destination=CCU&destinationCountry=IN&flight_depart_date=07%2F10%2F2022&ADT=1&CHD=0&INF=0&class=Economy&source=fresco-home&unqvaldesktop=1209659215728'
driver.get(url)

In [147]:
a = 0

#extracting Airline name tags
name_tags = driver.find_elements(By.XPATH, '//span[@class="i-b text ellipsis"]')
for i in name_tags:
    name.append(i.text)
    a=a+1
    

#date
for i in range(0,a):
    date.append("12 oct 2022")


#extracting source tags
b=0
src_tags = driver.find_elements(By.XPATH, '//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
for i in src_tags:
    if b%2==0:
        src.append(i.text)
    b=b+1
    
#extracting Destination tags
b=0
dest_tags = driver.find_elements(By.XPATH, '//p[@class="fs-10 font-lightgrey no-wrap city ellipsis"]')
for i in dest_tags:
    if b%2 != 0:
        dest.append(i.text)
    b=b+1
    
    
#extracting Departure time tags
dtime_tags = driver.find_elements(By.XPATH, '//div[@class="i-b pr"]')
for i in dtime_tags:
    dtime.append(i.text)
    

#extracting Arrival time tags
atime_tags = driver.find_elements(By.XPATH, '//p[@class="bold fs-15 mb-2 pr time"]')
for i in atime_tags:
    atime.append(i.text)

    
#extracting Duration tags
dur_tags = driver.find_elements(By.XPATH, '//p[@class="fs-12 bold du mb-2"]')
for i in dur_tags:
    dur.append(i.text)
    
#extracting Total Stop tags
stop_tags = driver.find_elements(By.XPATH, '//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]')
for i in stop_tags:
    stop.append(i.text)
    
    
#extracting Price tags
price_tags = driver.find_elements(By.XPATH, '//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for i in price_tags:
    price.append(i.text)
    
time.sleep(5)

In [148]:
len(name)

1698

In [149]:
len(date)

1698

In [150]:
len(src)

1698

In [151]:
len(dest)

1698

In [152]:
len(dtime)

1698

In [153]:
len(atime)

1698

In [154]:
len(dur)

1698

In [155]:
len(stop)

1698

In [156]:
len(price)

1698

In [157]:
flight = pd.DataFrame()
flight['Airline Name'] = name
flight['Date of journey'] = date
flight['Source'] = src
flight['Destination'] = dest
flight['Departure Time'] = dtime
flight['Arrival Time'] = atime
flight['Duration'] = dur
flight['Total stops'] = stop
flight['Price'] = price
flight

,Airline Name,Date of journey,Source,Destination,Departure Time,Arrival Time,Duration,Total stops,Price
0,Go First,7 oct 2022,New Delhi,Mumbai,13:20,15:20,2h 00m,Non Stop,"5,950"
1,Go First,7 oct 2022,New Delhi,Mumbai,15:15,17:20,2h 05m,Non Stop,"5,950"
2,Go First,7 oct 2022,New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,950"
3,SpiceJet,7 oct 2022,New Delhi,Mumbai,07:20,09:35,2h 15m,Non Stop,"5,950"
4,Go First,7 oct 2022,New Delhi,Mumbai,18:20,20:35,2h 15m,Non Stop,"5,950"
...,...,...,...,...,...,...,...,...,...
1693,Vistara,12 oct 2022,Bangalore,Kolkata,11:30,19:35,8h 05m,2 Stop(s),"20,074"
1694,Air India,12 oct 2022,Bangalore,Kolkata,06:10,14:30,8h 20m,1 Stop,"21,124"
1695,Air India,12 oct 2022,Bangalore,Kolkata,11:15,19:10,7h 55m,1 Stop,"23,224"
1696,Air India,12 oct 2022,Bangalore,Kolkata,06:10,19:10,13h 00m,1 Stop,"23,224"
1697,Air India,12 oct 2022,Bangalore,Kolkata,10:00,19:10,9h 10m,1 Stop,"23,749"

In [158]:
# saving the excel
flight.to_excel('flight_price_data.xlsx')

In [159]:
driver.close()